################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/641c712b-eaa7-4d9a-9fa8-68f316f60696.vsidx
*.vsidx
/DVLD/.vs/DVLD/FileContentIndex/96f11550-c45b-4818-a799-fd321372c382.vsidx
/DVLD/.vs/DVLD/FileContentIndex/adec9521-546f-400c-b0e1-1b9bae209291.vsidx
/DVLD/.vs/DVLD/FileContentIndex/read.lock
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
/DVLD/.vs/DVLD/FileContentIndex/49db3ffb-db15-4ac9-a506-466cf7e60716.vsidx
